@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";

:root {
  --bulma-primary-h: 31deg;
  --bulma-primary-s: 84%;
  --bulma-primary-l: 53%;
  --bulma-link-h: 176deg;
  --bulma-link-s: 46%;
  --bulma-link-l: 59%;
  --bulma-info-h: 16deg;
  --bulma-info-s: 88%;
  --bulma-info-l: 56%;
  --bulma-success-h: 58deg;
  --bulma-success-s: 65%;
  --bulma-success-l: 48%;
  --bulma-danger-h: 358deg;
  --bulma-danger-s: 71%;
  --bulma-danger-l: 49%;
  --bulma-body-background-color: #E7D8B7;
  --bulma-skeleton-background: #E7D8B7;
}
.navbar {
  --bulma-navbar-background-color: #E7D8B7;
}
