<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
});
</script>
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      {% unless page.hide_hero %}
      <section
          class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-light"
          {% if page.hero_image %}
              style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;"
          {% endif %}
      >
          <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
              <div class="container">
                  <h1 class="title is-2">{{ page.title }}</h1>
                  <p class="subtitle is-3">{{ page.subtitle }}</p>
                  {% if page.hero_link %}
                      <div class="my-4">
                          <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large">
                              {{- page.hero_link_text -}}
                          </a>
                      </div>
                  {% endif %}
              </div>
          </div>
      </section>
      {% endunless %}

      <section class="section">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-12">
            <div class="box">
              {{ content }}
            </div>
            </div>
            </div>
        </section>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
